---
import BlogPost from '../../layouts/BlogPost.astro';
import { fetchBlogPosts, type BlogPost as RemoteBlogPost } from '../../lib/blogApi';

export async function getStaticPaths() {
	const posts = await fetchBlogPosts();
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

type Props = {
	post: RemoteBlogPost;
};

const { post } = Astro.props;
---

<BlogPost
	title={post.title}
	description={post.excerpt || post.title}
	pubDate={post.publishedAt}
	heroImageUrl={post.coverImageUrl}
>
	<section class="post-body" set:html={post.body}></section>
</BlogPost>
